$theme-purple: (
  "primary": rgb(66, 52, 131),
  "secondary": rgb(184, 111, 253),
  "tertiary": rgb(210, 132, 224),
  "dark": rgb(33, 46, 122),
  "neon": rgb(176, 96, 217),
  "neonpur": rgb(142, 100, 235),
  "darker": rgb(9, 9, 121),
  "lila": rgb(141, 179, 244),
);

$theme-blue: (
  "primary": rgb(109, 141, 244),
  "secondary": rgb(96, 204, 253),
  "orangli": rgb(250, 145, 104),
  "orangda": rgb(242, 91, 83),
  "turq": rgb(35, 157, 186),
  "purp": rgb(115, 105, 252),
  "linavy": rgb(11, 90, 214),
  "danavy": rgb(11, 54, 143),
);

$theme-green: (
  "primary": rgb(82, 187, 94),
  "tertiary": rgb(72, 174, 90),
  "secondary": rgb(190, 218, 81),
  "dark": rgb(7, 54, 66),
  "light": rgb(52, 157, 141),
  "pink": rgb(202, 60, 86),
);

$theme-turq: (
  "primary": rgb(43, 212, 253),
  "secondary": rgb(82, 247, 235),
  "tertiary": rgb(73, 236, 238),
);
