// WEBSITE PALETS

$theme-purple: (
  "primary": rgb(66, 52, 131),
  "secondary": rgb(184, 111, 253),
  "tertiary": rgb(210, 132, 224),
  "dark": rgb(33, 46, 122),
  "neon": rgb(176, 96, 217),
  "neon2": rgb(199, 0, 225),
  "neonpur": rgb(142, 100, 235),
  "darker": rgb(9, 9, 121),
  "lila": rgb(141, 179, 244),
);

$theme-blue: (
  "primary": rgb(109, 141, 244),
  "secondary": rgb(96, 204, 253),
  "orangli": rgb(250, 145, 104),
  "orangda": rgb(242, 91, 83),
  "turq": rgb(35, 157, 186),
  "purp": rgb(115, 105, 252),
  "linavy": rgb(11, 90, 214),
  "danavy": rgb(11, 54, 143),
);

$theme-green: (
  "primary": rgb(82, 187, 94),
  "tertiary": rgb(72, 174, 90),
  "secondary": rgb(190, 218, 81),
  "dark": rgb(7, 54, 66),
  "light": rgb(52, 157, 141),
  "pink": rgb(202, 60, 86),
);

$theme-turq: (
  "primary": rgb(43, 212, 253),
  "secondary": rgb(82, 247, 235),
  "tertiary": rgb(73, 236, 238),
);

// LANDSCAPE PALETS

$theme-sky: (
  "primary": rgb(49, 66, 148),
  "secondary": rgb(105, 138, 173),
  "tertiary": rgb(165, 163, 157),
);

$theme-water: (
  "primary": rgb(47, 74, 118),
  "secondary": rgb(0, 75, 88),
);

$theme-sand: (
  "primary": rgb(153, 136, 128),
  "secondary": rgb(188, 160, 119),
  "tertiary": rgb(68, 46, 40),
);

$theme-bush: (
  "primary": rgb(103, 112, 0),
  "secondary": rgb(44, 60, 0),
  "tertiary": rgb(72, 174, 90),
  "wood": rgb(10, 10, 5),
  "bark": rgb(37, 15, 0),
);
