@import "_maps";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: rgb(117, 117, 117);
}

header {
  // background: linear-gradient(0deg, map-get($theme-blue, danavy) 75%);
  // border-bottom: 1px solid map-get($theme-blue, danavy);

  .header-logo {
    display: none;
    // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  nav {
    display: flex;
    justify-content: center;
  }

  ul {
    display: flex;
  }

  li {
    list-style: none;
    margin: 1rem 0.5rem;
  }

  a {
    transition: 0.3s ease-in-out;
    color: rgb(110, 110, 109);
    font-weight: bold;
    text-decoration: none;
  }

  a:hover {
    color: map-get($theme-purple, neon2);
  }
}

main {
  margin: 0 auto;
}

section {
  text-align: center;
  width: 100%;
}

.page2,
.page3,
.page4 .max-width {
  margin: 0 auto;
  width: 80%;
}

.page1 {
  background: linear-gradient(
    0deg,
    white 5%,
    map-get($theme-blue, secondary) 10%,
    map-get($theme-purple, neon) 15%,
    map-get($theme-purple, neon) 17%,
    white 30%
  );
  font-weight: bold;
  height: 800px;
  padding: 1rem;
  z-index: -3;

  border-bottom-right-radius: 50% 7%;
  border-bottom-left-radius: 50% 7%;

  .logo {
    width: 200px;
    // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  // #pyramnid {
  //   width: 1%;
  // }

  h1 {
    font-size: 3rem;
  }

  p {
    padding: 1rem;
    font-size: 1.5rem;
  }

  i {
    width: 40%;
    margin: 1rem 0.5rem;
    color: map-get($theme-blue, orangli);
    font-size: 6rem;
    text-shadow: 4px 3px 4px white;
    transition: all 0.2s ease-in-out;
  }

  button {
    justify-content: flex-end;
    background: linear-gradient(
      90deg,
      map-get($theme-purple, lila) 20%,
      map-get($theme-blue, secondary) 95%
    );
    border: 2px solid map-get($theme-purple, neon);
    border-radius: 50px;
    color: white;
    font-size: 1.3rem;
    // font-weight: bold;
    letter-spacing: 1.5px;
    margin: 1rem 0;
    padding: 0.5rem 1.5rem;
    transition: all 0.2s ease-in-out;
  }

  button:hover,
  i:hover,
  button:focus {
    transform: scale(1.1);
    outline: none;
  }

  svg {
    position: relative;
  }
}

.page2 {
  position: relative;
  top: -100px;
  background: white;
  border: 1px solid white;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  h1 {
    margin-top: 1rem;
  }

  .examples {
    background: linear-gradient(
      90deg,
      map-get($theme-blue, turq) 0%,
      map-get($theme-blue, purp) 90%
    );
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 1rem auto;
    width: 90%;
  }

  .wallpaper {
    width: 100%;
  }
}

.page3 {
  margin: 0 auto;
  position: relative;
  top: -45px;
  width: 80%;

  i,
  span {
    color: map-get($theme-purple, neon2);
  }

  i {
    text-shadow: 2px 2px map-get($theme-blue, secondary);
  }

  .web {
    margin: 0 auto;
    padding: 0rem;
    width: 80%;
  }

  i {
    font-size: 5rem;
  }

  span {
    font-weight: bold;
  }

  i,
  h1,
  .detail {
    padding: 0.5rem;
  }
}

.page4 {
  width: 100%;
  margin: 1rem auto;

  background: linear-gradient(
    0deg,
    white 1%,
    map-get($theme-purple, neon) 7%,
    map-get($theme-blue, secondary) 10%,
    map-get($theme-blue, secondary) 12%,
    white 30%
  );

  form {
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 1rem auto;
    padding: 1rem 2rem;
    background: white;
    border-spacing: 1rem;
  }

  label,
  input,
  textarea {
    margin: 0.4rem 0;
  }

  p,
  label {
    font-weight: bold;
  }

  div {
    display: block;
    justify-content: flex-start;
    text-align: left;
  }

  h1 {
    color: map-get($theme-blue, secondary);
    text-align: center;
  }

  label {
    margin: 0rem;
    padding-right: 1rem;
  }

  input,
  textarea {
    width: 100%;
    border-radius: 0.3rem;
    border: 2px solid rgb(220, 220, 220);
  }

  input[type="radio"],
  .radio {
    width: initial;
    font-weight: normal;
  }

  button {
    display: flex;
    width: 140px;
    padding: 0.1rem;
    margin: 0 auto;
    justify-content: center;
  }
}

footer {
  width: 100%;
  margin: 1rem auto;
  // background-color: map-get($theme-purple, darker);
  padding: 1rem;

  .details {
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }

  .google-reviews {
    display: none;
  }

  .declare {
    margin: 0.5rem auto;
    width: 50%;
  }

  div {
    padding: 0.3rem;
  }

  h3,
  p {
    color: grey;
  }

  a {
    color: map-get($theme-blue, secondary);
  }
}

// MEDIA QUERIES

@media only screen and (min-width: 480px) {
  .page1 {
    #pyramid {
      width: 350px;
      margin: 1rem;
    }
  }

  .page3 {
    .web {
      margin: 0 auto;
      padding: 1.5rem;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 768px) {
  header {
    .main-width {
      margin: 0 auto;
      max-width: 1024px;
      display: flex;
      justify-content: center;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem;
    }

    .header-logo {
      display: block;
    }
  }

  .page1 {
    .logo {
      width: 42.5%;
    }

    .logo {
      display: none;
    }

    #pyramid {
      width: 450px;
    }
  }

  .page2 {
    .example-container {
      display: flex;
      flex-wrap: wrap;
    }

    .examples {
      width: 45%;
    }
  }

  .page3 {
    display: flex;

    .web {
      margin: 0 auto;
      padding: 1.5rem;
      width: 50%;
    }
  }

  .page4 {
    .max-width {
      margin: 0 auto;
    }

    form {
      max-width: 100%;

      .main-fc {
        display: flex;
      }

      .form-cont {
        width: 50%;
        margin: 0.5rem;
      }
    }
  }

  footer {
    .details {
      width: 40%;
    }

    .declare {
      margin: 0 0;
      width: 30%;
    }

    .footering {
      display: flex;
      justify-content: center;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .page1 .max-width,
  .page2,
  .page3,
  .page4 .max-width {
    max-width: 1024px;
  }

  .page1 {
    height: 576px;
    .main-width {
      margin: 0 auto;
    }

    #pyramid {
      width: 250px;
    }
  }

  .page2 {
    .examples {
      width: 40%;
    }
  }

  footer {
    max-width: 1024px;
    .footering {
      display: flex;
      justify-content: center;
    }

    .details {
      width: 45%;
    }

    .declare {
      width: 20%;
    }

    .google-reviews {
      display: block;
    }
  }
}

@media only screen and (min-width: 1152px) {
  .page1 {
    height: 648px;

    #pyramid {
      width: 320px;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .page1 {
    height: 720px;

    #pyramid {
      width: 380px;
    }
  }
}

@media only screen and (min-width: 1366px) {
  .page1 {
    height: 768px;

    #pyramid {
      width: 420px;
    }
  }
}

@media only screen and (min-width: 1600px) {
  .page1 {
    height: 900px;

    #pyramid {
      width: 500px;
    }
  }
}

@media only screen and (min-width: 1920px) {
  .page1 {
    height: 900px;
  }
}
