.boat {
  /* shape-outside: polygon(
    20px 0,
    70px 0,
    80px 20px,
    70px 20px,
    70px 30px,
    40px 30px,
    40px 20px,
    0 20px
  );
  clip-path: polygon(
    20px 0,
    70px 0,
    80px 20px,
    70px 20px,
    70px 30px,
    40px 30px,
    40px 20px,
    0 20px
  ); */

  shape-outside: polygon(
    0 100px,
    400px 100px,
    400px 0,
    700px 0,
    700px 100px,
    800px 100px,
    700px 300px,
    200px 300px
  );

  clip-path: polygon(
    0 100px,
    400px 100px,
    400px 0,
    700px 0,
    700px 100px,
    800px 100px,
    700px 300px,
    200px 300px
  );

  inset: 5px 5px 5px 5px;

  height: 300px;
  width: 800px;
  background: black;
}

.square {
  height: 100px;
  width: 100px;
  background: black;
  border-bottom-right-radius: 50% 7%;
  border-bottom-left-radius: 50% 7%;
}
